.column
  img
    width: 200px;
  .title
    font-size: 1.5em;
    text-decoration: none;
    color: #333;
    transition: color 0.2s;
    line-height: 1em;
    &:hover
      color: color-theme