.column
  display: inline-block;
  width: 50%;
  margin-bottom: 20px;
  @media mq-mobile
    width: 100%;
    &.empty
      footer, hr
        display: none
  img
    width: 200px;
    height: 276px;
    @media mq-mobile
      width: 100%;
      height: 100%;
  .title
    font-size: 1.5em;
    text-decoration: none;
    color: #333;
    transition: color 0.2s;
    line-height: 1em;
    &:hover
      color: color-theme